<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeho.downloadcenter.persistence.mapper.DownloadLogMapper">

    <!-- Base result mapping -->
    <resultMap id="BaseResultMap" type="com.seeho.downloadcenter.persistence.po.DownloadLogPO">
        <id column="id" property="id" />
        <result column="download_name" property="downloadName" />
        <result column="user_id" property="userId" />
        <result column="download_type" property="downloadType" />
        <result column="download_status" property="downloadStatus" />
        <result column="fail_reason" property="failReason" />
        <result column="retry_count" property="retryCount" />
        <result column="download_condition" property="downloadCondition" />
        <result column="titles" property="titles" />
        <result column="remark" property="remark" />
        <result column="file_url" property="fileUrl" />
        <result column="file_name" property="fileName" />
        <result column="message_key" property="messageKey" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- Base column list -->
    <sql id="Base_Column_List">
        id, download_name, user_id, download_type, download_status, fail_reason, retry_count, download_condition, titles, remark, file_url, file_name, message_key, create_user_id, create_time, update_user_id, update_time
    </sql>

</mapper>
